<h1>Bonjour <%= current_user.first_name %></h1>

<button class="btn btn-success p-2 ml-3">
  <i class="fa-solid fa-plus" style="color: #ffffff;"></i>
  <%= link_to "Publier une nouvelle annonce", new_game_path, :class=>"text-white"%>
</button>

<h2>Vos annonces de jeux</h2>

<ul>
  <% @my_games.each do |game| %>
  <li>
    <div class="card mb-4 bg-light px-3 py-3 mt-2" style="width: 40rem;">
      <h4><%= game.name %></h4>
      <p>Prix : <%= game.price %></p>
      <p>Disponible : <%= game.availability %></p>
      <%= link_to "Plus de détails", game_path(game) %>
      <%= link_to "Modifier l'annonce", edit_game_path(game) %>
      <%= link_to "Supprimer l'annonce",
  game_path(game),
  data: {turbo_method: :delete, turbo_confirm: "Etes-vous sur de vouloir supprimer ce jeu ?"}
%>
  </li>
  </div>
  <% end %>
</ul>

<h2>Mes demandes de location :</h2>

<ul>
  <% @my_rents.each do |rent| %>
  <li>
    <div class="card mb-4 bg-light px-3 py-3 mt-2" style="width: 40rem;">
      <h4>
        <%= rent.game.name %>
      </h4>
      <p> Demande de la part de
        <strong>
          <%= rent.user.first_name %>
        </strong></p>
      <p>Tarif de location : <%= rent.game.price %> €</p>
      <p> Du : <%= rent.start_date %> au : <%= rent.end_date %> </p>
    </div>
    <% end %>
</ul>
