<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/4691567/pexels-photo-4691567.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);">
  <div class="container">
    <h1>Explorez le monde des jeux de société<br>près de chez vous !</h1></h1>
    <p>Louez une variété de jeux pour tous les goûts et offrez-vous un moment de partage avec vos proches.</p>
    <a class="btn btn-primary" href="#">Découvrir</a>
  </div>
</div>

<h2 class="m-4"><Label></Label>Retrouvez ces jeux à la location</h2>



<main class="cards">

      <% @games.limit(1).each do |game| %>

        <div class="gamecard">
          <%= link_to game_path(game) do %>
            <%= image_tag "https://www.numerama.com/wp-content/uploads/2017/09/catan_vr_illustration-e1521713039644.jpg", class: "img-card"%>
              <div class="contentcard">
                <div>
                  <h4>Catan</h4>
                <p><i class="fa-solid fa-users"></i> <%= game.player_number %></p>
                <p><i class="fa-solid fa-clock"></i> <%= game.games_duration%></p>
                </div>
                  <p>Prix : <%= game.price %> €</p>
              </div>
          <% end %>
        </div>
      <% end %>


    <% @games.limit(1).each do |game| %>

      <div class="gamecard">
        <%= link_to game_path(game) do %>
          <%= image_tag "monopoly.jpg", class: "img-card"%>
            <div class="contentcard">
              <div>
                <h4>Monopoly</h4>
              <p><i class="fa-solid fa-users"></i> <%= game.player_number %></p>
              <p><i class="fa-solid fa-clock"></i> <%= game.games_duration%></p>
              </div>
                <p>Prix : <%= game.price %> €</p>
            </div>
        <% end %>
      </div>
    <% end %>


    <% @games.limit(1).each do |game| %>

      <div class="gamecard">
        <%= link_to game_path(game) do %>
          <%= image_tag "qui.jpg", class: "img-card"%>
            <div class="contentcard">
              <div>
                <h4>Qui est-ce ?</h4>
              <p><i class="fa-solid fa-users"></i> <%= game.player_number %></p>
              <p><i class="fa-solid fa-clock"></i> <%= game.games_duration%></p>
              </div>
                <p>Prix : <%= game.price %> €</p>
            </div>
        <% end %>
      </div>
    <% end %>


</main>
