
<h2 class="m-4"><Label></Label>Liste des jeux à <%= current_user.address %></h2>
<p class="m-4"><%= @games.count %> résultats</p>

<div class="cards">

  <% @games.each do |game| %>

      <div class="gamecard">
    <%= link_to game_path(game) do %>
        <%= image_tag "logo.png", class: "img-card"%>
        <div class= "mt-3">
          <h4><%= game.name %></h4>
          <p>Prix : <%= game.price %> €</p>
          <p>Disponible : <%= game.availability %></p>
          <p><i class="fa-solid fa-users"></i> <%= game.player_number %></p>
          <p><i class="fa-solid fa-clock"></i> <%= game.games_duration%></p>
        </div>
    <% end %>
      </div>

  <% end %>

</div>
