


<div class="content">
  <main>
    <div>
      <h3 class="m-4"><Label></Label>Liste des jeux à <%= current_user.address %></h3>
      <p class="m-4"><%= @games.count %> résultats</p>
    </div>

    <div class="cards" id="cards-index">
      <% @games.each do |game| %>

        <div class="gamecard">
          <%= link_to game_path(game) do %>
              <%= image_tag "logo.png", class: "img-card"%>
              <div class="contentcard">
                <div>
                  <h4><%= game.name %></h4>
                <p><i class="fa-solid fa-users"></i> <%= game.player_number %></p>
                <p><i class="fa-solid fa-clock"></i> <%= game.games_duration%></p>
                </div>
                <p>Prix : <%= game.price %> €</p>
              </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </main>


  <aside style="border-radius: 8px; margin-top: 24px; margin-right: 24px; width: 30%; height: 100vh; position: sticky; top: 0;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </aside>
</div>
