<div class="container mt-5 container_show">
  <h1><%= @game.name%></h1>

  <div class= "photos_show">
    <% if @game.photos.attached? %>
        <% @game.photos.each do |photo| %>
          <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
        <% end %>
    <% end %>
  </div>

  <h3>Localisation du jeu : <%= @game.user.address%></h3>

  <div class="owner">
    <div class="avatar">
      <%= render "shared/profilpick" %>
    </div>
    <div class="proprietaire">
      <p><span class="font-weight">Loué par : </span><br><%= @game.user.first_name.capitalize %> <%= @game.user.last_name.upcase %></p>
    </div>
  </div>

  <div class="info-game">
    <div class="price-time-game-container">
      <p>Prix : <%= @game.price%> €</p>
      <p><i class="fa-solid fa-users"></i>Nombre de joueur : <%= @game.player_number %></p>
      <p><i class="fa-solid fa-clock"></i> Durée : <%= @game.games_duration%></p>
    </div>
    <p>Description :<br><%= @game.description%></p>
  </div>

  <% if @game.availability? %>
      <p>Disponible</p>
  <% end %>
  <% if @game.availability == false %>
      <p>Indisponible</p>
  <% end %>

  <%= link_to "Faire une demande de location", new_game_rent_path(@game.id), class: "btn btn-primary"%>
</div>
