<h1><%= @game.name%></h1>


<% if @game.photos.attached? %>
    <% @game.photos.each do |photo| %>
      <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
    <% end %>
<% end %>
<%# "http://loremflickr.com/300/260/cocktail" %>

<h2>Prix : <%= @game.price%> €</h2>
<p>Description : <%= @game.description%></p>
<p>Nombre de joueurs : <%= @game.player_number%></p>
<p>Durée de jeu : <%= @game.games_duration%></p>

<% if @game.availability? %>
    <p>Le jeu est disponible !</p>
<% end %>
<% if @game.availability == false %>
    <p>Le jeu n'est pas disponible</p>
<% end %>
